@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: #B11116;
    justify-content: center;
    align-items: center;
}

.logo{
    flex: 20%;
    text-align: start;
    margin-left: 10%;
}

.menu{
    flex: 70%;
    text-align: center;
    padding: 20px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 30px;
}

.menu a:hover{
    color: black;
    border-bottom: 5px solid white;
}

span{
    color: white;
}

.agora{
    font-weight: 800;
}

.header{
    display: flex;
    height: 650px;
    flex-flow: 40%;
    background-color: black;
}

.headline{
    height: 300px;
    margin-left: 10%;
    flex: 40%;
    color: white;
    border-radius: 10px;
    margin-top: 170px;
    border: 1px solid white;
    margin-right: 40px;
}

.headline h1{
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    font-family: "Lobster", sans-serif;
}

.headline p{
    font-size: 15px;
    text-align:center;
    padding: 5px;
}

.img-headline{
    height: 550px;
    margin-right: 10%;
    flex: 40%;
    background-image: url(../assets/fotoHead.webp);
    background-size: cover;
    background-position: -230px -0px;
    background-repeat: no-repeat;
    opacity: 0.5;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
    margin-top: 80px;
    margin-left: 5%;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Lobster", sans-serif;
}

.altura{
    height: 500px;
}

.campeonatos{
    display: flex;
    height: 500px;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    /* border:1px solid black; */
    width: 90%;
    justify-content: space-around;
}

.campeonatos h3{
    color: white;
    text-align: center;
    font-weight: bold;
}

.card{
    height: 70%;
    width: 350px;
    background-color: black;
    padding: 80px;
    border-radius: 20px;
    text-align: center;
}

.texto-oculto{
    display: none;
}

.card:hover{
    background-color: #CB0017;
    color: white;
    padding: 40px;
    cursor: pointer;
}

.card:hover img{
    display: none;
}

.card:hover .card-original{
    display: none;
}

.card:hover .texto-oculto{
    display: block;
}

.sobre-mim{
    height: 650px;
    margin-top: 20px;
    background: #CB0017;
}

.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}


.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: black;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3, #radio4:checked ~ .nav-auto .auto-btn4{
    background-color: black;
}


#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
}