@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: #B11116;
    justify-content: center;
    align-items: center;
}

.logo{
    flex: 20%;
    text-align: start;
    margin-left: 10%;
}

.menu{
    flex: 70%;
    text-align: center;
    padding: 20px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 30px;
}

.menu a:hover{
    color: black;
    border-bottom: 5px solid white;
}

span{
    color: white;
}

.agora{
    font-weight: 800;
}